form.signup,
form.login {
  margin-top: 50px;
}

.form-check-label {
	float: left;
}

.container {
    float: left;
    margin-top: 150px;
    color: white;
}

h2 {
  	color: white;
}

.btn {
	float: right;
	background: orange
}

body {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
	background-size: 100%;
	background-attachment: fixed;     
	text-align: center;
}

