form.signup,
form.login {
  margin-top: 0px;
}

.form-check-label {
	float: left;
}

.container {
	
	display: flexbox;
	
    margin-top: 0px;
    color: white;
}

h2 {
	color: white;
}

h4 {
  	color: rgb(133, 133, 133);
}

.btn {
	float: right;
	background: orange
}

body {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
	background-size: cover;
	background-attachment: fixed;     
	text-align: center;
	position: relative;
	overflow-x: hidden;
}

.row {
	margin-top: 20px;
}

#loginLogo {
	width: 120px;
	margin-top: 30px;
}

h1 {
	margin-top: 20px;
	font-size: 100px;
	color: white
}

span:before {
	content: "Pet";
	animation: animate infinite 40s;
}
@keyframes animate{
	6%{
		content: "Pet"
	}
	8%{
		content: "Dog"
	}
	10%{
		content: "Cat"
	}
	12%{
		content: "Bird"
	}
	14%{
		content: "Fish"
	}
	16%{
		content: "Cute"
	}
	18%{
		content: "Fun"
	}
	20%{
		content: "Your"
	}
	22%{
		content: "Pet"
	}
}