h1 {
    color: white;
  }

.navbar-brand
 {
     margin-top: -30px;
     margin-bottom: -20px;
 }

.card-img-top {
  width: 500px;
  height: 325px;
  padding-top: 50px;
}

.display-4 {
  color: black;
  padding-top: 100px;
}

body {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}