h1 {
  color: white;
}

.navbar-brand
{
   margin-top: -30px;
   margin-bottom: -20px;
}



.display-4 {
color: white;
padding-top: 100px;
}

body, header{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
    background-size: cover;
    background-attachment: fixed;     
    text-align: center;
    overflow-x: hidden;
}

.card {
justify-content: center;
}






